{
  "openapi": "3.1.0",
  "info": {
    "title": "Timely.ai API",
    "description": "API REST do Timely.ai para automação de atendimento com IA. Gerencie agentes, conversas, contatos e integrações.",
    "version": "1.0.0",
    "contact": {
      "name": "Timely.ai",
      "email": "contato@timelyai.com.br",
      "url": "https://timelyai.com.br"
    }
  },
  "servers": [
    {
      "url": "https://api.timelyai.com.br",
      "description": "Produção"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "System",
      "description": "Health check e introspecção da API key"
    },
    {
      "name": "Agents",
      "description": "Agentes IA — criação, configuração e gerenciamento"
    },
    {
      "name": "Trainings",
      "description": "Base de conhecimento dos agentes"
    },
    {
      "name": "Channels",
      "description": "Canais de comunicação (WhatsApp, Telegram, Email, Website)"
    },
    {
      "name": "Contacts",
      "description": "Cadastro de clientes"
    },
    {
      "name": "Conversations",
      "description": "Histórico de conversas e mensagens"
    },
    {
      "name": "Custom Fields",
      "description": "Campos personalizados do CRM"
    },
    {
      "name": "Chats",
      "description": "Operações em chats ativos e handoff humano"
    },
    {
      "name": "Messages",
      "description": "Mensagens individuais"
    },
    {
      "name": "MCP",
      "description": "Model Context Protocol — servidores e ferramentas"
    },
    {
      "name": "Webhooks",
      "description": "Webhooks outbound para eventos em tempo real"
    }
  ],
  "paths": {
    "/v1/health": {
      "get": {
        "operationId": "healthCheck",
        "summary": "Health check",
        "description": "Verifica se a API está funcionando. Não requer autenticação.",
        "tags": ["System"],
        "security": [],
        "responses": {
          "200": {
            "description": "API funcionando",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": { "type": "string", "example": "ok" },
                    "timestamp": { "type": "string", "format": "date-time" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/me": {
      "get": {
        "operationId": "getApiKeyInfo",
        "summary": "Informações da API key",
        "description": "Retorna informações sobre a API key, incluindo scopes e permissões.",
        "tags": ["System"],
        "responses": {
          "200": {
            "description": "Informações da API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "key_name": { "type": "string" },
                        "company_id": { "type": "string", "format": "uuid" },
                        "workspace_id": { "type": "string", "format": "uuid" },
                        "scopes": { "type": "array", "items": { "type": "string" } },
                        "permissions": { "type": "object" }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/v1/agents": {
      "get": {
        "operationId": "listAgents",
        "summary": "Listar agentes",
        "description": "Retorna lista paginada de agentes IA.",
        "tags": ["Agents"],
        "parameters": [
          { "$ref": "#/components/parameters/Page" },
          { "$ref": "#/components/parameters/Limit" },
          { "$ref": "#/components/parameters/Order" },
          {
            "name": "status",
            "in": "query",
            "schema": { "type": "string", "enum": ["active", "inactive"] }
          }
        ],
        "responses": {
          "200": {
            "description": "Lista de agentes",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": { "type": "array", "items": { "$ref": "#/components/schemas/Agent" } },
                    "pagination": { "$ref": "#/components/schemas/Pagination" }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" }
        }
      },
      "post": {
        "operationId": "createAgent",
        "summary": "Criar agente",
        "description": "Cria um novo agente IA.",
        "tags": ["Agents"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CreateAgent" }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Agente criado",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": { "$ref": "#/components/schemas/Agent" }
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/ValidationError" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" }
        }
      }
    },
    "/v1/agents/{id}": {
      "get": {
        "operationId": "getAgent",
        "summary": "Obter agente",
        "description": "Retorna detalhes de um agente específico.",
        "tags": ["Agents"],
        "parameters": [{ "$ref": "#/components/parameters/AgentId" }],
        "responses": {
          "200": {
            "description": "Detalhes do agente",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": { "$ref": "#/components/schemas/Agent" }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      },
      "put": {
        "operationId": "updateAgent",
        "summary": "Atualizar agente",
        "description": "Atualiza um agente existente.",
        "tags": ["Agents"],
        "parameters": [{ "$ref": "#/components/parameters/AgentId" }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/UpdateAgent" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Agente atualizado",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": { "$ref": "#/components/schemas/Agent" }
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/ValidationError" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      },
      "delete": {
        "operationId": "deleteAgent",
        "summary": "Excluir agente",
        "description": "Exclui um agente (soft delete).",
        "tags": ["Agents"],
        "parameters": [{ "$ref": "#/components/parameters/AgentId" }],
        "responses": {
          "200": {
            "description": "Agente excluído",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/DeleteResponse" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/v1/agents/{id}/activate": {
      "post": {
        "operationId": "activateAgent",
        "summary": "Ativar agente",
        "description": "Ativa um agente para receber conversas.",
        "tags": ["Agents"],
        "parameters": [{ "$ref": "#/components/parameters/AgentId" }],
        "responses": {
          "200": {
            "description": "Agente ativado",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": { "$ref": "#/components/schemas/Agent" }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/v1/agents/{id}/deactivate": {
      "post": {
        "operationId": "deactivateAgent",
        "summary": "Desativar agente",
        "description": "Desativa um agente temporariamente.",
        "tags": ["Agents"],
        "parameters": [{ "$ref": "#/components/parameters/AgentId" }],
        "responses": {
          "200": {
            "description": "Agente desativado",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": { "$ref": "#/components/schemas/Agent" }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/v1/agents/{id}/settings": {
      "get": {
        "operationId": "getAgentSettings",
        "summary": "Obter configurações do agente",
        "description": "Retorna configurações avançadas do agente.",
        "tags": ["Agents"],
        "parameters": [{ "$ref": "#/components/parameters/AgentId" }],
        "responses": {
          "200": {
            "description": "Configurações do agente",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": { "$ref": "#/components/schemas/AgentSettings" }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      },
      "put": {
        "operationId": "updateAgentSettings",
        "summary": "Atualizar configurações do agente",
        "description": "Atualiza configurações avançadas do agente.",
        "tags": ["Agents"],
        "parameters": [{ "$ref": "#/components/parameters/AgentId" }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/AgentSettings" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Configurações atualizadas",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": { "$ref": "#/components/schemas/AgentSettings" }
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/ValidationError" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/v1/agents/{id}/webhooks": {
      "get": {
        "operationId": "getAgentWebhooks",
        "summary": "Obter webhooks do agente",
        "description": "Retorna configuração de webhooks do agente.",
        "tags": ["Agents"],
        "parameters": [{ "$ref": "#/components/parameters/AgentId" }],
        "responses": {
          "200": {
            "description": "Webhooks do agente",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": { "$ref": "#/components/schemas/AgentWebhooks" }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      },
      "put": {
        "operationId": "updateAgentWebhooks",
        "summary": "Atualizar webhooks do agente",
        "description": "Atualiza configuração de webhooks do agente.",
        "tags": ["Agents"],
        "parameters": [{ "$ref": "#/components/parameters/AgentId" }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/AgentWebhooks" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhooks atualizados",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": { "$ref": "#/components/schemas/AgentWebhooks" }
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/ValidationError" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/v1/agents/{id}/conversation": {
      "post": {
        "operationId": "createAgentConversation",
        "summary": "Criar conversa com agente",
        "description": "Inicia uma nova conversa com o agente via API.",
        "tags": ["Agents"],
        "parameters": [{ "$ref": "#/components/parameters/AgentId" }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["message"],
                "properties": {
                  "message": { "type": "string", "description": "Mensagem inicial" },
                  "contact_id": { "type": "string", "format": "uuid", "description": "ID do contato (opcional)" },
                  "metadata": { "type": "object", "description": "Metadados adicionais" }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Conversa criada",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "conversation_id": { "type": "string", "format": "uuid" },
                        "response": { "type": "string" }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/ValidationError" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/v1/agents/{id}/context": {
      "post": {
        "operationId": "injectAgentContext",
        "summary": "Injetar contexto no agente",
        "description": "Injeta contexto adicional para a próxima resposta do agente.",
        "tags": ["Agents"],
        "parameters": [{ "$ref": "#/components/parameters/AgentId" }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["conversation_id", "context"],
                "properties": {
                  "conversation_id": { "type": "string", "format": "uuid" },
                  "context": { "type": "string", "description": "Contexto a ser injetado" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Contexto injetado",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": { "type": "object", "properties": { "success": { "type": "boolean" } } }
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/ValidationError" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/v1/agents/{id}/credits": {
      "get": {
        "operationId": "getAgentCredits",
        "summary": "Obter créditos do agente",
        "description": "Retorna saldo de créditos do agente.",
        "tags": ["Agents"],
        "parameters": [{ "$ref": "#/components/parameters/AgentId" }],
        "responses": {
          "200": {
            "description": "Créditos do agente",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "credits_remaining": { "type": "number" },
                        "credits_used": { "type": "number" },
                        "credits_total": { "type": "number" }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/v1/agents/{id}/behavior-history": {
      "get": {
        "operationId": "getAgentBehaviorHistory",
        "summary": "Histórico de comportamento",
        "description": "Retorna histórico de alterações no comportamento do agente.",
        "tags": ["Agents"],
        "parameters": [
          { "$ref": "#/components/parameters/AgentId" },
          { "$ref": "#/components/parameters/Page" },
          { "$ref": "#/components/parameters/Limit" }
        ],
        "responses": {
          "200": {
            "description": "Histórico de comportamento",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": { "type": "array", "items": { "$ref": "#/components/schemas/BehaviorHistory" } },
                    "pagination": { "$ref": "#/components/schemas/Pagination" }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/v1/agents/{id}/trainings": {
      "get": {
        "operationId": "listAgentTrainings",
        "summary": "Listar treinamentos do agente",
        "description": "Retorna treinamentos associados ao agente.",
        "tags": ["Trainings"],
        "parameters": [
          { "$ref": "#/components/parameters/AgentId" },
          { "$ref": "#/components/parameters/Page" },
          { "$ref": "#/components/parameters/Limit" }
        ],
        "responses": {
          "200": {
            "description": "Lista de treinamentos",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": { "type": "array", "items": { "$ref": "#/components/schemas/Training" } },
                    "pagination": { "$ref": "#/components/schemas/Pagination" }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      },
      "post": {
        "operationId": "createAgentTraining",
        "summary": "Criar treinamento",
        "description": "Adiciona novo treinamento à base de conhecimento do agente.",
        "tags": ["Trainings"],
        "parameters": [{ "$ref": "#/components/parameters/AgentId" }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CreateTraining" }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Treinamento criado",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": { "$ref": "#/components/schemas/Training" }
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/ValidationError" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/v1/trainings/{id}": {
      "put": {
        "operationId": "updateTraining",
        "summary": "Atualizar treinamento",
        "description": "Atualiza um treinamento existente.",
        "tags": ["Trainings"],
        "parameters": [{ "$ref": "#/components/parameters/TrainingId" }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/UpdateTraining" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Treinamento atualizado",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": { "$ref": "#/components/schemas/Training" }
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/ValidationError" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      },
      "delete": {
        "operationId": "deleteTraining",
        "summary": "Excluir treinamento",
        "description": "Remove um treinamento da base de conhecimento.",
        "tags": ["Trainings"],
        "parameters": [{ "$ref": "#/components/parameters/TrainingId" }],
        "responses": {
          "200": {
            "description": "Treinamento excluído",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/DeleteResponse" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/v1/channels": {
      "get": {
        "operationId": "listChannels",
        "summary": "Listar canais",
        "description": "Retorna lista de canais de comunicação.",
        "tags": ["Channels"],
        "parameters": [
          { "$ref": "#/components/parameters/Page" },
          { "$ref": "#/components/parameters/Limit" },
          {
            "name": "type",
            "in": "query",
            "schema": { "type": "string", "enum": ["whatsapp", "telegram", "email", "website", "instagram"] }
          }
        ],
        "responses": {
          "200": {
            "description": "Lista de canais",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": { "type": "array", "items": { "$ref": "#/components/schemas/Channel" } },
                    "pagination": { "$ref": "#/components/schemas/Pagination" }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      },
      "post": {
        "operationId": "createChannel",
        "summary": "Criar canal",
        "description": "Cria um novo canal de comunicação.",
        "tags": ["Channels"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CreateChannel" }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Canal criado",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": { "$ref": "#/components/schemas/Channel" }
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/ValidationError" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/v1/channels/{id}": {
      "put": {
        "operationId": "updateChannel",
        "summary": "Atualizar canal",
        "description": "Atualiza um canal existente.",
        "tags": ["Channels"],
        "parameters": [{ "$ref": "#/components/parameters/ChannelId" }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/UpdateChannel" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Canal atualizado",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": { "$ref": "#/components/schemas/Channel" }
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/ValidationError" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      },
      "delete": {
        "operationId": "deleteChannel",
        "summary": "Excluir canal",
        "description": "Remove um canal de comunicação.",
        "tags": ["Channels"],
        "parameters": [{ "$ref": "#/components/parameters/ChannelId" }],
        "responses": {
          "200": {
            "description": "Canal excluído",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/DeleteResponse" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/v1/channels/{id}/config": {
      "get": {
        "operationId": "getChannelConfig",
        "summary": "Obter configuração do canal",
        "description": "Retorna configurações específicas do canal.",
        "tags": ["Channels"],
        "parameters": [{ "$ref": "#/components/parameters/ChannelId" }],
        "responses": {
          "200": {
            "description": "Configuração do canal",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": { "$ref": "#/components/schemas/ChannelConfig" }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      },
      "put": {
        "operationId": "updateChannelConfig",
        "summary": "Atualizar configuração do canal",
        "description": "Atualiza configurações específicas do canal.",
        "tags": ["Channels"],
        "parameters": [{ "$ref": "#/components/parameters/ChannelId" }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/ChannelConfig" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Configuração atualizada",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": { "$ref": "#/components/schemas/ChannelConfig" }
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/ValidationError" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/v1/channels/{id}/qr-code": {
      "get": {
        "operationId": "getChannelQrCode",
        "summary": "Obter QR code do canal",
        "description": "Retorna QR code para conexão do WhatsApp.",
        "tags": ["Channels"],
        "parameters": [{ "$ref": "#/components/parameters/ChannelId" }],
        "responses": {
          "200": {
            "description": "QR code do canal",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "qr_code": { "type": "string", "description": "QR code em base64" },
                        "status": { "type": "string", "enum": ["pending", "connected", "disconnected"] }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/v1/channels/{id}/conversation": {
      "post": {
        "operationId": "createChannelConversation",
        "summary": "Iniciar conversa no canal",
        "description": "Inicia uma nova conversa através do canal.",
        "tags": ["Channels"],
        "parameters": [{ "$ref": "#/components/parameters/ChannelId" }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["to", "message"],
                "properties": {
                  "to": { "type": "string", "description": "Destinatário (telefone, email, etc)" },
                  "message": { "type": "string", "description": "Mensagem inicial" }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Conversa iniciada",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "conversation_id": { "type": "string", "format": "uuid" },
                        "message_id": { "type": "string", "format": "uuid" }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/ValidationError" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/v1/channels/{id}/widget/links": {
      "get": {
        "operationId": "getChannelWidgetLinks",
        "summary": "Obter links do widget",
        "description": "Retorna links para incorporar o widget no site.",
        "tags": ["Channels"],
        "parameters": [{ "$ref": "#/components/parameters/ChannelId" }],
        "responses": {
          "200": {
            "description": "Links do widget",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "embed_url": { "type": "string", "format": "uri" },
                        "script_tag": { "type": "string" }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/v1/channels/{id}/widget/settings": {
      "put": {
        "operationId": "updateChannelWidgetSettings",
        "summary": "Atualizar configurações do widget",
        "description": "Atualiza aparência e comportamento do widget.",
        "tags": ["Channels"],
        "parameters": [{ "$ref": "#/components/parameters/ChannelId" }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/WidgetSettings" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Configurações atualizadas",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": { "$ref": "#/components/schemas/WidgetSettings" }
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/ValidationError" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/v1/contacts": {
      "get": {
        "operationId": "listContacts",
        "summary": "Listar contatos",
        "description": "Retorna lista paginada de contatos.",
        "tags": ["Contacts"],
        "parameters": [
          { "$ref": "#/components/parameters/Page" },
          { "$ref": "#/components/parameters/Limit" },
          { "$ref": "#/components/parameters/Order" },
          { "$ref": "#/components/parameters/Search" },
          {
            "name": "status",
            "in": "query",
            "schema": { "type": "string", "enum": ["active", "inactive", "blocked"] }
          }
        ],
        "responses": {
          "200": {
            "description": "Lista de contatos",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": { "type": "array", "items": { "$ref": "#/components/schemas/Contact" } },
                    "pagination": { "$ref": "#/components/schemas/Pagination" }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      },
      "post": {
        "operationId": "createContact",
        "summary": "Criar contato",
        "description": "Cria um novo contato.",
        "tags": ["Contacts"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CreateContact" }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Contato criado",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": { "$ref": "#/components/schemas/Contact" }
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/ValidationError" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/v1/contacts/{id}": {
      "get": {
        "operationId": "getContact",
        "summary": "Obter contato",
        "description": "Retorna detalhes de um contato.",
        "tags": ["Contacts"],
        "parameters": [{ "$ref": "#/components/parameters/ContactId" }],
        "responses": {
          "200": {
            "description": "Detalhes do contato",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": { "$ref": "#/components/schemas/Contact" }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      },
      "put": {
        "operationId": "updateContact",
        "summary": "Atualizar contato",
        "description": "Atualiza um contato existente.",
        "tags": ["Contacts"],
        "parameters": [{ "$ref": "#/components/parameters/ContactId" }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/UpdateContact" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Contato atualizado",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": { "$ref": "#/components/schemas/Contact" }
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/ValidationError" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      },
      "delete": {
        "operationId": "deleteContact",
        "summary": "Excluir contato",
        "description": "Remove um contato.",
        "tags": ["Contacts"],
        "parameters": [{ "$ref": "#/components/parameters/ContactId" }],
        "responses": {
          "200": {
            "description": "Contato excluído",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/DeleteResponse" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/v1/conversations": {
      "get": {
        "operationId": "listConversations",
        "summary": "Listar conversas",
        "description": "Retorna lista paginada de conversas.",
        "tags": ["Conversations"],
        "parameters": [
          { "$ref": "#/components/parameters/Page" },
          { "$ref": "#/components/parameters/Limit" },
          { "$ref": "#/components/parameters/Order" },
          { "$ref": "#/components/parameters/Search" },
          {
            "name": "channel",
            "in": "query",
            "schema": { "type": "string" }
          },
          {
            "name": "status",
            "in": "query",
            "schema": { "type": "string", "enum": ["open", "closed", "pending"] }
          }
        ],
        "responses": {
          "200": {
            "description": "Lista de conversas",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": { "type": "array", "items": { "$ref": "#/components/schemas/Conversation" } },
                    "pagination": { "$ref": "#/components/schemas/Pagination" }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/v1/conversations/{id}": {
      "get": {
        "operationId": "getConversation",
        "summary": "Obter conversa",
        "description": "Retorna detalhes de uma conversa.",
        "tags": ["Conversations"],
        "parameters": [{ "$ref": "#/components/parameters/ConversationId" }],
        "responses": {
          "200": {
            "description": "Detalhes da conversa",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": { "$ref": "#/components/schemas/Conversation" }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      },
      "delete": {
        "operationId": "deleteConversation",
        "summary": "Encerrar conversa",
        "description": "Encerra uma conversa (soft delete).",
        "tags": ["Conversations"],
        "parameters": [{ "$ref": "#/components/parameters/ConversationId" }],
        "responses": {
          "200": {
            "description": "Conversa encerrada",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/DeleteResponse" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/v1/conversations/{id}/messages": {
      "get": {
        "operationId": "listConversationMessages",
        "summary": "Listar mensagens da conversa",
        "description": "Retorna mensagens de uma conversa.",
        "tags": ["Conversations"],
        "parameters": [
          { "$ref": "#/components/parameters/ConversationId" },
          { "$ref": "#/components/parameters/Page" },
          { "$ref": "#/components/parameters/Limit" },
          { "$ref": "#/components/parameters/Order" },
          {
            "name": "since",
            "in": "query",
            "schema": { "type": "string", "format": "date-time" }
          },
          {
            "name": "until",
            "in": "query",
            "schema": { "type": "string", "format": "date-time" }
          }
        ],
        "responses": {
          "200": {
            "description": "Lista de mensagens",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": { "type": "array", "items": { "$ref": "#/components/schemas/Message" } },
                    "pagination": { "$ref": "#/components/schemas/Pagination" }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      },
      "post": {
        "operationId": "sendConversationMessage",
        "summary": "Enviar mensagem",
        "description": "Envia uma mensagem na conversa.",
        "tags": ["Conversations"],
        "parameters": [{ "$ref": "#/components/parameters/ConversationId" }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CreateMessage" }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Mensagem enviada",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": { "$ref": "#/components/schemas/Message" }
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/ValidationError" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      },
      "delete": {
        "operationId": "deleteConversationMessages",
        "summary": "Excluir todas as mensagens",
        "description": "Remove todas as mensagens de uma conversa.",
        "tags": ["Conversations"],
        "parameters": [{ "$ref": "#/components/parameters/ConversationId" }],
        "responses": {
          "200": {
            "description": "Mensagens excluídas",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/DeleteResponse" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/v1/conversations/{id}/messages/{messageId}": {
      "put": {
        "operationId": "updateConversationMessage",
        "summary": "Editar mensagem",
        "description": "Edita o conteúdo de uma mensagem.",
        "tags": ["Conversations"],
        "parameters": [
          { "$ref": "#/components/parameters/ConversationId" },
          { "$ref": "#/components/parameters/MessageId" }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["content"],
                "properties": {
                  "content": { "type": "string", "minLength": 1 }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Mensagem atualizada",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": { "$ref": "#/components/schemas/Message" }
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/ValidationError" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      },
      "delete": {
        "operationId": "deleteConversationMessage",
        "summary": "Excluir mensagem",
        "description": "Remove uma mensagem específica.",
        "tags": ["Conversations"],
        "parameters": [
          { "$ref": "#/components/parameters/ConversationId" },
          { "$ref": "#/components/parameters/MessageId" }
        ],
        "responses": {
          "200": {
            "description": "Mensagem excluída",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/DeleteResponse" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/v1/conversations/{id}/human-handoff": {
      "post": {
        "operationId": "startHumanHandoff",
        "summary": "Iniciar handoff humano",
        "description": "Pausa o agente IA e transfere para atendimento humano.",
        "tags": ["Conversations"],
        "parameters": [{ "$ref": "#/components/parameters/ConversationId" }],
        "responses": {
          "200": {
            "description": "Handoff iniciado",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": { "type": "string", "format": "uuid" },
                        "ai_mode": { "type": "string", "enum": ["paused"] }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/v1/conversations/{id}/ai-resume": {
      "post": {
        "operationId": "resumeAI",
        "summary": "Retomar agente IA",
        "description": "Retoma o controle do agente IA na conversa.",
        "tags": ["Conversations"],
        "parameters": [{ "$ref": "#/components/parameters/ConversationId" }],
        "responses": {
          "200": {
            "description": "IA retomada",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": { "type": "string", "format": "uuid" },
                        "ai_mode": { "type": "string", "enum": ["auto"] }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/v1/custom-fields": {
      "get": {
        "operationId": "listCustomFields",
        "summary": "Listar campos personalizados",
        "description": "Retorna lista de campos personalizados.",
        "tags": ["Custom Fields"],
        "parameters": [
          { "$ref": "#/components/parameters/Page" },
          { "$ref": "#/components/parameters/Limit" }
        ],
        "responses": {
          "200": {
            "description": "Lista de campos",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": { "type": "array", "items": { "$ref": "#/components/schemas/CustomField" } },
                    "pagination": { "$ref": "#/components/schemas/Pagination" }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      },
      "post": {
        "operationId": "createCustomField",
        "summary": "Criar campo personalizado",
        "description": "Cria um novo campo personalizado.",
        "tags": ["Custom Fields"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CreateCustomField" }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Campo criado",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": { "$ref": "#/components/schemas/CustomField" }
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/ValidationError" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/v1/custom-fields/{id}": {
      "put": {
        "operationId": "updateCustomField",
        "summary": "Atualizar campo personalizado",
        "description": "Atualiza um campo personalizado existente.",
        "tags": ["Custom Fields"],
        "parameters": [{ "$ref": "#/components/parameters/CustomFieldId" }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/UpdateCustomField" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Campo atualizado",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": { "$ref": "#/components/schemas/CustomField" }
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/ValidationError" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/v1/custom-fields/{id}/archive": {
      "put": {
        "operationId": "archiveCustomField",
        "summary": "Arquivar campo personalizado",
        "description": "Arquiva um campo personalizado (soft delete).",
        "tags": ["Custom Fields"],
        "parameters": [{ "$ref": "#/components/parameters/CustomFieldId" }],
        "responses": {
          "200": {
            "description": "Campo arquivado",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/DeleteResponse" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/v1/chats/{id}": {
      "delete": {
        "operationId": "deleteChat",
        "summary": "Excluir chat",
        "description": "Remove um chat e todas suas mensagens.",
        "tags": ["Chats"],
        "parameters": [{ "$ref": "#/components/parameters/ChatId" }],
        "responses": {
          "200": {
            "description": "Chat excluído",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/DeleteResponse" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/v1/chats/{id}/messages": {
      "delete": {
        "operationId": "deleteChatMessages",
        "summary": "Excluir mensagens do chat",
        "description": "Remove todas as mensagens de um chat.",
        "tags": ["Chats"],
        "parameters": [{ "$ref": "#/components/parameters/ChatId" }],
        "responses": {
          "200": {
            "description": "Mensagens excluídas",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/DeleteResponse" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/v1/chats/{id}/messages/{messageId}": {
      "put": {
        "operationId": "updateChatMessage",
        "summary": "Editar mensagem do chat",
        "description": "Edita o conteúdo de uma mensagem.",
        "tags": ["Chats"],
        "parameters": [
          { "$ref": "#/components/parameters/ChatId" },
          { "$ref": "#/components/parameters/MessageId" }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["content"],
                "properties": {
                  "content": { "type": "string", "minLength": 1 }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Mensagem atualizada",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": { "$ref": "#/components/schemas/Message" }
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/ValidationError" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      },
      "delete": {
        "operationId": "deleteChatMessage",
        "summary": "Excluir mensagem do chat",
        "description": "Remove uma mensagem específica.",
        "tags": ["Chats"],
        "parameters": [
          { "$ref": "#/components/parameters/ChatId" },
          { "$ref": "#/components/parameters/MessageId" }
        ],
        "responses": {
          "200": {
            "description": "Mensagem excluída",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/DeleteResponse" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/v1/chats/{id}/start-human": {
      "post": {
        "operationId": "startHumanChat",
        "summary": "Iniciar atendimento humano",
        "description": "Pausa o agente IA e inicia atendimento humano.",
        "tags": ["Chats"],
        "parameters": [{ "$ref": "#/components/parameters/ChatId" }],
        "responses": {
          "200": {
            "description": "Atendimento humano iniciado",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": { "type": "string", "format": "uuid" },
                        "ai_mode": { "type": "string", "enum": ["paused"] }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/v1/chats/{id}/stop-human": {
      "post": {
        "operationId": "stopHumanChat",
        "summary": "Encerrar atendimento humano",
        "description": "Retoma o controle do agente IA.",
        "tags": ["Chats"],
        "parameters": [{ "$ref": "#/components/parameters/ChatId" }],
        "responses": {
          "200": {
            "description": "Agente IA retomado",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": { "type": "string", "format": "uuid" },
                        "ai_mode": { "type": "string", "enum": ["auto"] }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/v1/messages/{id}": {
      "get": {
        "operationId": "getMessage",
        "summary": "Obter mensagem",
        "description": "Retorna detalhes de uma mensagem específica.",
        "tags": ["Messages"],
        "parameters": [{ "$ref": "#/components/parameters/MessageId" }],
        "responses": {
          "200": {
            "description": "Detalhes da mensagem",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": { "$ref": "#/components/schemas/Message" }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      },
      "delete": {
        "operationId": "deleteMessage",
        "summary": "Excluir mensagem",
        "description": "Remove uma mensagem.",
        "tags": ["Messages"],
        "parameters": [{ "$ref": "#/components/parameters/MessageId" }],
        "responses": {
          "200": {
            "description": "Mensagem excluída",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/DeleteResponse" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/v1/agent/{id}/mcp/add": {
      "post": {
        "operationId": "addMcpServer",
        "summary": "Adicionar servidor MCP",
        "description": "Adiciona um novo servidor MCP ao agente.",
        "tags": ["MCP"],
        "parameters": [{ "$ref": "#/components/parameters/AgentId" }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CreateMcpServer" }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Servidor MCP adicionado",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": { "$ref": "#/components/schemas/McpServer" }
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/ValidationError" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/v1/agent/{id}/mcp/connect": {
      "post": {
        "operationId": "connectMcpServer",
        "summary": "Conectar servidor MCP",
        "description": "Estabelece conexão com um servidor MCP.",
        "tags": ["MCP"],
        "parameters": [{ "$ref": "#/components/parameters/AgentId" }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["mcp_id"],
                "properties": {
                  "mcp_id": { "type": "string", "format": "uuid" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Servidor MCP conectado",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": { "$ref": "#/components/schemas/McpServer" }
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/ValidationError" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/v1/agent/{id}/mcp/tools": {
      "get": {
        "operationId": "listMcpTools",
        "summary": "Listar ferramentas MCP",
        "description": "Lista ferramentas disponíveis nos servidores MCP do agente.",
        "tags": ["MCP"],
        "parameters": [{ "$ref": "#/components/parameters/AgentId" }],
        "responses": {
          "200": {
            "description": "Lista de ferramentas",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": { "type": "array", "items": { "$ref": "#/components/schemas/McpTool" } }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/v1/agent/{id}/mcp/tools/{toolId}/active": {
      "put": {
        "operationId": "activateMcpTool",
        "summary": "Ativar ferramenta MCP",
        "description": "Ativa uma ferramenta MCP para uso pelo agente.",
        "tags": ["MCP"],
        "parameters": [
          { "$ref": "#/components/parameters/AgentId" },
          { "$ref": "#/components/parameters/ToolId" }
        ],
        "responses": {
          "200": {
            "description": "Ferramenta ativada",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": { "$ref": "#/components/schemas/McpTool" }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/v1/agent/{id}/mcp/tools/{toolId}/inactive": {
      "put": {
        "operationId": "deactivateMcpTool",
        "summary": "Desativar ferramenta MCP",
        "description": "Desativa uma ferramenta MCP.",
        "tags": ["MCP"],
        "parameters": [
          { "$ref": "#/components/parameters/AgentId" },
          { "$ref": "#/components/parameters/ToolId" }
        ],
        "responses": {
          "200": {
            "description": "Ferramenta desativada",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": { "$ref": "#/components/schemas/McpTool" }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/v1/agent/{id}/mcp/sync-tools": {
      "post": {
        "operationId": "syncMcpTools",
        "summary": "Sincronizar ferramentas MCP",
        "description": "Sincroniza ferramentas de todos os servidores MCP do agente.",
        "tags": ["MCP"],
        "parameters": [{ "$ref": "#/components/parameters/AgentId" }],
        "responses": {
          "200": {
            "description": "Ferramentas sincronizadas",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "synced": { "type": "integer" },
                        "tools": { "type": "array", "items": { "$ref": "#/components/schemas/McpTool" } }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/v1/agent/{id}/mcp/{mcpId}": {
      "delete": {
        "operationId": "deleteMcpServer",
        "summary": "Remover servidor MCP",
        "description": "Remove um servidor MCP do agente.",
        "tags": ["MCP"],
        "parameters": [
          { "$ref": "#/components/parameters/AgentId" },
          { "$ref": "#/components/parameters/McpId" }
        ],
        "responses": {
          "200": {
            "description": "Servidor MCP removido",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/DeleteResponse" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/v1/webhooks": {
      "get": {
        "operationId": "listWebhooks",
        "summary": "Listar webhooks",
        "description": "Retorna lista de webhooks configurados.",
        "tags": ["Webhooks"],
        "parameters": [
          { "$ref": "#/components/parameters/Page" },
          { "$ref": "#/components/parameters/Limit" }
        ],
        "responses": {
          "200": {
            "description": "Lista de webhooks",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": { "type": "array", "items": { "$ref": "#/components/schemas/Webhook" } },
                    "pagination": { "$ref": "#/components/schemas/Pagination" }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      },
      "post": {
        "operationId": "createWebhook",
        "summary": "Criar webhook",
        "description": "Cria um novo webhook para receber eventos.",
        "tags": ["Webhooks"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CreateWebhook" }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Webhook criado",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": { "$ref": "#/components/schemas/Webhook" }
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/ValidationError" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/v1/webhooks/{id}": {
      "get": {
        "operationId": "getWebhook",
        "summary": "Obter webhook",
        "description": "Retorna detalhes de um webhook.",
        "tags": ["Webhooks"],
        "parameters": [{ "$ref": "#/components/parameters/WebhookId" }],
        "responses": {
          "200": {
            "description": "Detalhes do webhook",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": { "$ref": "#/components/schemas/Webhook" }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      },
      "put": {
        "operationId": "updateWebhook",
        "summary": "Atualizar webhook",
        "description": "Atualiza um webhook existente.",
        "tags": ["Webhooks"],
        "parameters": [{ "$ref": "#/components/parameters/WebhookId" }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/UpdateWebhook" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook atualizado",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": { "$ref": "#/components/schemas/Webhook" }
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/ValidationError" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      },
      "delete": {
        "operationId": "deleteWebhook",
        "summary": "Excluir webhook",
        "description": "Remove um webhook.",
        "tags": ["Webhooks"],
        "parameters": [{ "$ref": "#/components/parameters/WebhookId" }],
        "responses": {
          "200": {
            "description": "Webhook excluído",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/DeleteResponse" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/v1/webhooks/{id}/test": {
      "post": {
        "operationId": "testWebhook",
        "summary": "Testar webhook",
        "description": "Envia um evento de teste para o webhook.",
        "tags": ["Webhooks"],
        "parameters": [{ "$ref": "#/components/parameters/WebhookId" }],
        "responses": {
          "200": {
            "description": "Teste enviado",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "success": { "type": "boolean" },
                        "status_code": { "type": "integer" },
                        "response_time_ms": { "type": "integer" }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/v1/webhooks/{id}/deliveries": {
      "get": {
        "operationId": "listWebhookDeliveries",
        "summary": "Listar entregas do webhook",
        "description": "Retorna histórico de entregas de um webhook.",
        "tags": ["Webhooks"],
        "parameters": [
          { "$ref": "#/components/parameters/WebhookId" },
          { "$ref": "#/components/parameters/Page" },
          { "$ref": "#/components/parameters/Limit" }
        ],
        "responses": {
          "200": {
            "description": "Lista de entregas",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": { "type": "array", "items": { "$ref": "#/components/schemas/WebhookDelivery" } },
                    "pagination": { "$ref": "#/components/schemas/Pagination" }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key",
        "description": "Chave de API obtida no dashboard"
      }
    },
    "parameters": {
      "Page": {
        "name": "page",
        "in": "query",
        "description": "Número da página",
        "schema": { "type": "integer", "minimum": 1, "default": 1 }
      },
      "Limit": {
        "name": "limit",
        "in": "query",
        "description": "Itens por página",
        "schema": { "type": "integer", "minimum": 1, "maximum": 100, "default": 20 }
      },
      "Order": {
        "name": "order",
        "in": "query",
        "description": "Direção da ordenação",
        "schema": { "type": "string", "enum": ["asc", "desc"], "default": "desc" }
      },
      "Search": {
        "name": "search",
        "in": "query",
        "description": "Termo de busca",
        "schema": { "type": "string" }
      },
      "AgentId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "ID do agente",
        "schema": { "type": "string", "format": "uuid" }
      },
      "TrainingId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "ID do treinamento",
        "schema": { "type": "string", "format": "uuid" }
      },
      "ChannelId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "ID do canal",
        "schema": { "type": "string", "format": "uuid" }
      },
      "ContactId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "ID do contato",
        "schema": { "type": "string", "format": "uuid" }
      },
      "ConversationId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "ID da conversa",
        "schema": { "type": "string", "format": "uuid" }
      },
      "MessageId": {
        "name": "messageId",
        "in": "path",
        "required": true,
        "description": "ID da mensagem",
        "schema": { "type": "string", "format": "uuid" }
      },
      "ChatId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "ID do chat",
        "schema": { "type": "string", "format": "uuid" }
      },
      "CustomFieldId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "ID do campo personalizado",
        "schema": { "type": "string", "format": "uuid" }
      },
      "WebhookId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "ID do webhook",
        "schema": { "type": "string", "format": "uuid" }
      },
      "ToolId": {
        "name": "toolId",
        "in": "path",
        "required": true,
        "description": "ID da ferramenta MCP",
        "schema": { "type": "string", "format": "uuid" }
      },
      "McpId": {
        "name": "mcpId",
        "in": "path",
        "required": true,
        "description": "ID do servidor MCP",
        "schema": { "type": "string", "format": "uuid" }
      }
    },
    "responses": {
      "Unauthorized": {
        "description": "API key inválida ou ausente",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/Error" }
          }
        }
      },
      "Forbidden": {
        "description": "Scope insuficiente para esta operação",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/Error" }
          }
        }
      },
      "NotFound": {
        "description": "Recurso não encontrado",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/Error" }
          }
        }
      },
      "ValidationError": {
        "description": "Dados da requisição inválidos",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/Error" }
          }
        }
      }
    },
    "schemas": {
      "Pagination": {
        "type": "object",
        "properties": {
          "page": { "type": "integer" },
          "limit": { "type": "integer" },
          "total": { "type": "integer" },
          "total_pages": { "type": "integer" }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": { "type": "string" },
              "message": { "type": "string" },
              "status": { "type": "integer" }
            }
          }
        }
      },
      "DeleteResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "deleted": { "type": "boolean", "example": true }
            }
          }
        }
      },
      "Agent": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "name": { "type": "string" },
          "description": { "type": "string" },
          "avatar_url": { "type": "string", "format": "uri" },
          "status": { "type": "string", "enum": ["active", "inactive"] },
          "model": { "type": "string" },
          "temperature": { "type": "number" },
          "created_at": { "type": "string", "format": "date-time" },
          "updated_at": { "type": "string", "format": "date-time" }
        }
      },
      "CreateAgent": {
        "type": "object",
        "required": ["name"],
        "properties": {
          "name": { "type": "string", "minLength": 1, "maxLength": 100 },
          "description": { "type": "string", "maxLength": 500 },
          "avatar_url": { "type": "string", "format": "uri" },
          "model": { "type": "string", "default": "gpt-4o-mini" },
          "temperature": { "type": "number", "minimum": 0, "maximum": 2, "default": 0.7 }
        }
      },
      "UpdateAgent": {
        "type": "object",
        "properties": {
          "name": { "type": "string", "minLength": 1, "maxLength": 100 },
          "description": { "type": "string", "maxLength": 500 },
          "avatar_url": { "type": "string", "format": "uri" },
          "model": { "type": "string" },
          "temperature": { "type": "number", "minimum": 0, "maximum": 2 }
        }
      },
      "AgentSettings": {
        "type": "object",
        "properties": {
          "max_tokens": { "type": "integer" },
          "context_window": { "type": "integer" },
          "system_prompt": { "type": "string" },
          "fallback_message": { "type": "string" },
          "typing_delay_ms": { "type": "integer" }
        }
      },
      "AgentWebhooks": {
        "type": "object",
        "properties": {
          "on_message": { "type": "string", "format": "uri" },
          "on_conversation_start": { "type": "string", "format": "uri" },
          "on_conversation_end": { "type": "string", "format": "uri" }
        }
      },
      "BehaviorHistory": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "field": { "type": "string" },
          "old_value": { "type": "string" },
          "new_value": { "type": "string" },
          "changed_by": { "type": "string", "format": "uuid" },
          "created_at": { "type": "string", "format": "date-time" }
        }
      },
      "Training": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "agent_id": { "type": "string", "format": "uuid" },
          "title": { "type": "string" },
          "content": { "type": "string" },
          "type": { "type": "string", "enum": ["text", "file", "url"] },
          "status": { "type": "string", "enum": ["pending", "processed", "failed"] },
          "created_at": { "type": "string", "format": "date-time" }
        }
      },
      "CreateTraining": {
        "type": "object",
        "required": ["title", "content"],
        "properties": {
          "title": { "type": "string", "minLength": 1, "maxLength": 200 },
          "content": { "type": "string", "minLength": 1 },
          "type": { "type": "string", "enum": ["text", "file", "url"], "default": "text" }
        }
      },
      "UpdateTraining": {
        "type": "object",
        "properties": {
          "title": { "type": "string", "minLength": 1, "maxLength": 200 },
          "content": { "type": "string", "minLength": 1 }
        }
      },
      "Channel": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "name": { "type": "string" },
          "type": { "type": "string", "enum": ["whatsapp", "telegram", "email", "website", "instagram"] },
          "status": { "type": "string", "enum": ["active", "inactive", "pending"] },
          "agent_id": { "type": "string", "format": "uuid" },
          "created_at": { "type": "string", "format": "date-time" }
        }
      },
      "CreateChannel": {
        "type": "object",
        "required": ["name", "type", "agent_id"],
        "properties": {
          "name": { "type": "string", "minLength": 1, "maxLength": 100 },
          "type": { "type": "string", "enum": ["whatsapp", "telegram", "email", "website", "instagram"] },
          "agent_id": { "type": "string", "format": "uuid" }
        }
      },
      "UpdateChannel": {
        "type": "object",
        "properties": {
          "name": { "type": "string", "minLength": 1, "maxLength": 100 },
          "agent_id": { "type": "string", "format": "uuid" }
        }
      },
      "ChannelConfig": {
        "type": "object",
        "properties": {
          "phone_number": { "type": "string" },
          "api_key": { "type": "string" },
          "webhook_url": { "type": "string", "format": "uri" }
        }
      },
      "WidgetSettings": {
        "type": "object",
        "properties": {
          "primary_color": { "type": "string" },
          "position": { "type": "string", "enum": ["bottom-right", "bottom-left"] },
          "welcome_message": { "type": "string" },
          "placeholder": { "type": "string" }
        }
      },
      "Contact": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "customer_name": { "type": "string" },
          "customer_email": { "type": "string", "format": "email" },
          "customer_phone": { "type": "string" },
          "status": { "type": "string", "enum": ["active", "inactive", "blocked"] },
          "tags": { "type": "array", "items": { "type": "string" } },
          "custom_fields": { "type": "object" },
          "created_at": { "type": "string", "format": "date-time" },
          "updated_at": { "type": "string", "format": "date-time" }
        }
      },
      "CreateContact": {
        "type": "object",
        "required": ["customer_name"],
        "properties": {
          "customer_name": { "type": "string", "minLength": 1, "maxLength": 200 },
          "customer_email": { "type": "string", "format": "email" },
          "customer_phone": { "type": "string" },
          "tags": { "type": "array", "items": { "type": "string" } },
          "custom_fields": { "type": "object" }
        }
      },
      "UpdateContact": {
        "type": "object",
        "properties": {
          "customer_name": { "type": "string", "minLength": 1, "maxLength": 200 },
          "customer_email": { "type": "string", "format": "email" },
          "customer_phone": { "type": "string" },
          "status": { "type": "string", "enum": ["active", "inactive", "blocked"] },
          "tags": { "type": "array", "items": { "type": "string" } },
          "custom_fields": { "type": "object" }
        }
      },
      "Conversation": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "channel": { "type": "string" },
          "channel_id": { "type": "string", "format": "uuid" },
          "contact_id": { "type": "string", "format": "uuid" },
          "agent_id": { "type": "string", "format": "uuid" },
          "customer_name": { "type": "string" },
          "status": { "type": "string", "enum": ["open", "closed", "pending"] },
          "ai_mode": { "type": "string", "enum": ["auto", "paused"] },
          "last_message_at": { "type": "string", "format": "date-time" },
          "created_at": { "type": "string", "format": "date-time" }
        }
      },
      "Message": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "conversation_id": { "type": "string", "format": "uuid" },
          "content": { "type": "string" },
          "sender_type": { "type": "string", "enum": ["customer", "agent", "ai", "system", "bot"] },
          "message_type": { "type": "string", "enum": ["text", "image", "file", "audio", "video", "contact", "transfer"] },
          "media_url": { "type": "string", "format": "uri" },
          "media_type": { "type": "string" },
          "is_edited": { "type": "boolean" },
          "created_at": { "type": "string", "format": "date-time" }
        }
      },
      "CreateMessage": {
        "type": "object",
        "required": ["content"],
        "properties": {
          "content": { "type": "string", "minLength": 1, "maxLength": 65535 },
          "sender_type": { "type": "string", "enum": ["customer", "agent", "ai", "system", "bot"], "default": "agent" },
          "message_type": { "type": "string", "enum": ["text", "image", "file", "audio", "video"], "default": "text" },
          "media_url": { "type": "string", "format": "uri" },
          "media_type": { "type": "string" }
        }
      },
      "CustomField": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "name": { "type": "string" },
          "type": { "type": "string", "enum": ["text", "number", "date", "boolean", "select", "multiselect"] },
          "description": { "type": "string" },
          "options": { "type": "array", "items": { "type": "string" } },
          "required": { "type": "boolean" },
          "archived": { "type": "boolean" },
          "created_at": { "type": "string", "format": "date-time" }
        }
      },
      "CreateCustomField": {
        "type": "object",
        "required": ["name", "type"],
        "properties": {
          "name": { "type": "string", "minLength": 1, "maxLength": 100 },
          "type": { "type": "string", "enum": ["text", "number", "date", "boolean", "select", "multiselect"] },
          "description": { "type": "string", "maxLength": 500 },
          "options": { "type": "array", "items": { "type": "string" } },
          "required": { "type": "boolean", "default": false }
        }
      },
      "UpdateCustomField": {
        "type": "object",
        "properties": {
          "name": { "type": "string", "minLength": 1, "maxLength": 100 },
          "description": { "type": "string", "maxLength": 500 },
          "options": { "type": "array", "items": { "type": "string" } },
          "required": { "type": "boolean" }
        }
      },
      "McpServer": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "name": { "type": "string" },
          "url": { "type": "string", "format": "uri" },
          "status": { "type": "string", "enum": ["connected", "disconnected", "error"] },
          "tools_count": { "type": "integer" },
          "created_at": { "type": "string", "format": "date-time" }
        }
      },
      "CreateMcpServer": {
        "type": "object",
        "required": ["name", "url"],
        "properties": {
          "name": { "type": "string", "minLength": 1, "maxLength": 100 },
          "url": { "type": "string", "format": "uri" },
          "api_key": { "type": "string" }
        }
      },
      "McpTool": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "mcp_server_id": { "type": "string", "format": "uuid" },
          "name": { "type": "string" },
          "description": { "type": "string" },
          "input_schema": { "type": "object" },
          "is_active": { "type": "boolean" }
        }
      },
      "Webhook": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "name": { "type": "string" },
          "url": { "type": "string", "format": "uri" },
          "events": { "type": "array", "items": { "type": "string" } },
          "is_active": { "type": "boolean" },
          "secret": { "type": "string", "description": "Retornado apenas na criação" },
          "created_at": { "type": "string", "format": "date-time" }
        }
      },
      "CreateWebhook": {
        "type": "object",
        "required": ["name", "url", "events"],
        "properties": {
          "name": { "type": "string", "minLength": 1, "maxLength": 100 },
          "url": { "type": "string", "format": "uri" },
          "events": {
            "type": "array",
            "minItems": 1,
            "items": {
              "type": "string",
              "enum": [
                "conversation.created",
                "conversation.closed",
                "conversation.transferred",
                "message.received",
                "message.sent",
                "contact.created",
                "contact.updated",
                "appointment.created",
                "appointment.cancelled",
                "appointment.completed"
              ]
            }
          }
        }
      },
      "UpdateWebhook": {
        "type": "object",
        "properties": {
          "name": { "type": "string", "minLength": 1, "maxLength": 100 },
          "url": { "type": "string", "format": "uri" },
          "events": {
            "type": "array",
            "minItems": 1,
            "items": {
              "type": "string",
              "enum": [
                "conversation.created",
                "conversation.closed",
                "conversation.transferred",
                "message.received",
                "message.sent",
                "contact.created",
                "contact.updated",
                "appointment.created",
                "appointment.cancelled",
                "appointment.completed"
              ]
            }
          },
          "is_active": { "type": "boolean" }
        }
      },
      "WebhookDelivery": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "webhook_id": { "type": "string", "format": "uuid" },
          "event": { "type": "string" },
          "status": { "type": "string", "enum": ["pending", "success", "failed"] },
          "status_code": { "type": "integer" },
          "response_time_ms": { "type": "integer" },
          "attempt": { "type": "integer" },
          "next_retry_at": { "type": "string", "format": "date-time" },
          "created_at": { "type": "string", "format": "date-time" }
        }
      }
    }
  }
}
